*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover,
*:focus {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

i,
em,
dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: none; /* 2 */
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * clearfix
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.grid {
  display: grid;
  margin: 0 auto;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  margin: 0 auto;
}
.grid-item__image {
  overflow: hidden;
}
.grid-item__image > img:hover {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
}
.grid-item__title > a {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 1.5rem 0 0;
  transition: 0.3s;
  font-size: 2.3rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  white-space: nowrap;
}
.grid-item__title > a:hover {
  color: #5a6757;
}
.grid-item__price > a {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 1rem 0;
  transition: 0.3s;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  white-space: nowrap;
}
.grid-item__price > a:hover {
  color: #384036;
}
.grid-item .button-cart {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #3b4439;
  padding: 1.7rem;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.grid-item .button-cart:hover {
  opacity: 0.6;
}

.category-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .category-select {
    flex-direction: row;
    justify-content: space-between;
  }
}
.category-select .select {
  width: 100%;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  outline: 0;
  box-shadow: none;
  border: 2px solid #3b4439;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  padding: 1rem 0.5em;
  margin: 1rem 0;
}
@media only screen and (min-width: 1200px) {
  .category-select .select {
    width: 40%;
  }
}

.product {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .product {
    flex-direction: row;
  }
}

.button-cart {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #3b4439;
  padding: 1.7rem;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.button-cart:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 1200px) {
  .product-image {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .product-details {
    margin: 0 0 0 3rem;
    width: 40%;
  }
}
.product-details__title {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 1.5rem 0 0;
  transition: 0.3s;
  font-size: 2.3rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  white-space: nowrap;
}
.product-details__title:hover {
  color: #5a6757;
}
.product-details__price {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 1rem 0;
  transition: 0.3s;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  white-space: nowrap;
}
.product-details__price:hover {
  color: #384036;
}
.product-details__shortdesc > p {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
}
.product-details__longdesc > p {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
}

.cart {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .cart {
    flex-direction: row;
  }
}
.cart__items {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .cart__items {
    margin: 0 10rem 0 0;
    width: 60%;
  }
}
.cart__item {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin: 0 0 2.5rem 0;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}
.cart__item--image {
  width: 30%;
}
.cart__item--delete {
  cursor: pointer;
}
.cart__item--delete:hover {
  color: #ff0000;
}
.cart .summary {
  background-color: rgba(156, 168, 153, 0.97);
}
@media only screen and (min-width: 1200px) {
  .cart .summary {
    width: 40%;
    height: 100%;
  }
}
.cart .summary__title {
  padding: 0 2rem;
}
.cart .summary__count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.cart .summary__count--total {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
.cart .summary__count--price {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.cart .summary .button-next {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #272727;
  padding: 1.7rem;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.cart .summary .button-next:hover {
  opacity: 0.7;
}

.header {
  box-shadow: 0 -8px 7px 5px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0;
}
.header__logo {
  text-align: center;
}
.header__logo a {
  display: inline-block;
  position: relative;
  width: 12rem;
}
@media (min-width: 1200px) {
  .header__logo a {
    width: 13rem;
  }
}
@media (min-width: 1550px) {
  .header__logo a {
    width: 15rem;
  }
}
.header__logo img {
  width: 12rem;
}
@media (min-width: 1200px) {
  .header__logo img {
    width: 13rem;
  }
}
@media (min-width: 1550px) {
  .header__logo img {
    width: 15rem;
  }
}
@media only screen and (max-width: 1199px) {
  .header__nav {
    display: none;
  }
}
.header .btn2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 25px;
  transition-duration: 0.5s;
}
.header .btn2.open {
  z-index: 1001;
}
.header .btn2.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.header .btn2.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(8px, 7px);
}
.header .btn2.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
}
.header .btn2 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 5px;
  width: 30px;
  top: 30px;
  background-color: #000000;
}
.header .btn2 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #000000;
  content: "";
  top: -15px;
}
.header .btn2 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #000000;
  content: "";
  top: 15px;
}
@media only screen and (min-width: 1200px) {
  .header .btn2 .icon {
    display: none !important;
  }
}
.header .btn2:hover {
  cursor: pointer;
}
.header .cart {
  position: absolute;
  width: 4rem;
  top: 26px;
  right: 20px;
}
@media only screen and (min-width: 1200px) {
  .header .cart {
    top: 35px;
    right: 60px;
  }
}
.header .cart[data-count]:after {
  content: attr(data-count);
  border-radius: 50%;
  background: #d60b28;
  color: white;
  width: 18px;
  height: 18px;
  position: absolute;
  font-weight: bold;
  z-index: 2;
  padding: 4px 5px;
  left: 27px;
  top: -4px;
}

.header-mobile-nav {
  top: 0;
  position: fixed;
  left: 0;
  transition: 0.5s;
  height: 100vh;
  width: 0;
  overflow: hidden;
  z-index: 1000;
}
.header-mobile-nav.open {
  display: block;
  width: 100%;
  background-color: rgba(156, 168, 153, 0.97);
  transition: 0.5s;
}
@media only screen and (min-width: 1200px) {
  .header-mobile-nav {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .header-mobile-nav {
    display: none !important;
  }
}
.header-mobile-nav__top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
@media (min-width: 1200px) {
  .header-mobile-nav__top {
    padding: 2.5rem 0;
  }
}
@media (min-width: 1550px) {
  .header-mobile-nav__top {
    padding: 2.5rem 0;
  }
}
.header-mobile-nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-mobile-nav__logo img {
  display: block;
  width: 12rem;
}
@media (min-width: 1200px) {
  .header-mobile-nav__logo img {
    width: 13rem;
  }
}
@media (min-width: 1550px) {
  .header-mobile-nav__logo img {
    width: 21.4rem;
  }
}

.navigation__icon {
  width: 5rem;
}
.navigation > ul {
  list-style: none;
  margin: 0;
  padding: 8rem 0 8rem 0;
}
@media only screen and (min-width: 768px) {
  .navigation > ul {
    padding: 4.5rem 0 5rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  .navigation > ul {
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
  }
}
@media only screen and (min-width: 1550px) {
  .navigation > ul {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
.navigation > ul > li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.navigation > ul > li.has-childs > a {
  position: relative;
  padding-right: 2rem;
}
.navigation > ul > li.has-childs > a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-top: 0.6rem solid #000000;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
}
.navigation > ul > li.has-childs:hover ul {
  display: block;
}
.navigation > ul > li > ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0 0 0 2.5rem;
  background-color: transparent;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .navigation > ul > li > ul {
    background-color: rgba(156, 168, 153, 0.97);
    padding: 1rem 0 1rem 0;
    position: absolute;
    top: 100%;
    left: -3rem;
    min-width: calc(100% + 6rem);
    text-align: center;
  }
}
.navigation > ul > li > ul > li {
  margin: 0;
  padding: 0;
}
.navigation > ul > li > ul > li > a {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 1.3rem 0;
  transition: 0.3s;
  font-size: 1.9rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  white-space: nowrap;
}
.navigation > ul > li > ul > li > a span {
  position: relative;
}
.navigation > ul > li > ul > li > a:hover {
  color: #5a6757;
}
.navigation > ul > li > a {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  display: block;
  padding: 1rem 0;
  margin: 0 1rem 0 1rem;
  transition: 0.3s;
  font-size: 3.2rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  border-color: #5a6757;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  line-height: 1.8;
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  .navigation > ul > li > a {
    font-size: 1.9rem;
  }
}
.navigation > ul > li > a:hover {
  color: #5a6757;
}
.navigation .btn-border {
  background: #43484b;
}
.navigation .btn-border:hover {
  background: #5a6757;
  transition: 0.3s;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 58%;
  }
}
@media screen and (max-width: 1230px) {
  html {
    font-size: 52%;
  }
}

main {
  padding: 2rem 0;
}

.container {
  width: 100%;
  max-width: 119rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 0 1.5rem;
  }
}

.container--narrow {
  max-width: 104rem;
}

.container--wider {
  max-width: 124rem;
}

section,
.section {
  position: relative;
  padding: 1rem 0;
}

.section--page-header {
  padding-bottom: 0;
}

.section--content {
  padding: 0;
}

.section--search-page-header h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.section--search-page-header h1 strong {
  color: #5a6757;
}

.anchnor {
  position: absolute;
  top: -5rem;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.text-center {
  text-align: center;
}

p,
ul,
ol {
  font-size: 1.4rem;
  line-height: 1.3;
  color: #000000;
  font-weight: 300;
  margin: 3rem 0;
}

a {
  position: relative;
  color: #5a6757;
  text-decoration: underline;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  color: #3b4439;
}

ul {
  list-style-type: none;
  margin-left: 3rem;
  margin-right: 3rem;
}
ul li {
  position: relative;
  padding-left: 2.4rem;
  margin-bottom: 0.8rem;
}

ol {
  list-style-type: none !important;
  counter-reset: my-awesome-counter;
  padding: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}

ol li {
  position: relative;
  counter-increment: my-awesome-counter;
  padding-left: 30px;
}

ol li::before {
  position: absolute;
  content: counter(my-awesome-counter) ". ";
  color: #5cd38c;
  font-weight: bold;
  left: 0;
}

ol[style="list-style-type: lower-alpha;"] li:before {
  content: counter(my-awesome-counter, lower-alpha) ". ";
}

ol[style="list-style-type: upper-alpha;"] li:before {
  content: counter(my-awesome-counter, upper-alpha) ". ";
}

ol[style="list-style-type: lower-greek;"] li:before {
  content: counter(my-awesome-counter, lower-greek) ". ";
}

ol[style="list-style-type: lower-roman;"] li:before {
  content: counter(my-awesome-counter, lower-roman) ". ";
}

ol[style="list-style-type: upper-roman;"] li:before {
  content: counter(my-awesome-counter, upper-roman) ". ";
}

h1 {
  font-size: 4.1rem;
  color: #121618;
  line-height: 1.1;
  margin: 4rem 0;
  font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
    text-align: center;
  }
}

h2 {
  font-size: 3.8rem;
  color: #121618;
  font-family: "Quicksand", sans-serif;
  line-height: 1.1;
  margin: 3.5rem 0;
}
@media screen and (max-width: 1000px) {
  h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
    text-align: center;
  }
}

.no-posts-text {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  color: #121618;
  font-family: "Quicksand", sans-serif;
  line-height: 1.1;
  margin: 3rem 0;
}
@media screen and (max-width: 1000px) {
  h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 1.7rem;
    text-align: center;
  }
}

h4 {
  font-size: 2.2rem;
  color: #121618;
  font-family: "Quicksand", sans-serif;
  line-height: 1.1;
  margin: 3rem 0;
}
@media screen and (max-width: 1000px) {
  h4 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 600px) {
  h4 {
    font-size: 1.5rem;
    text-align: center;
  }
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

#cookie-bar {
  color: white;
  background: #121618 !important;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #222;
}
#cookie-bar #cookie-bar-button {
  background: #5a6757;
}

.wp-block-table {
  margin: 3rem 0;
}

table {
  border: 1px solid #121618;
  width: 100%;
}
table tr {
  transition: 0.3s;
}
table tr:hover {
  background: rgba(18, 22, 24, 0.2);
}
table tr:last-of-type, table tr:first-of-type {
  background: #121618;
}
table tr:last-of-type td, table tr:first-of-type td {
  color: #ffffff;
  font-weight: 700;
}
table tr td {
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 1rem;
}

.default img.aligncenter {
  margin: 0 auto;
  display: block;
}

.default img.alignright {
  float: right;
}

.default img.alignleft {
  float: left;
}

figure {
  margin: 3rem 0;
}

figure.wp-block-image {
  margin: 3rem 0;
  text-align: left;
}
figure.wp-block-image figcaption {
  text-align: left;
}

.wp-block-image:before,
.wp-block-image:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.wp-block-image:after {
  clear: both;
}

/* For IE 6/7 only */
.wp-block-image {
  *zoom: 1;
}

.wp-block-image figcaption {
  font-size: 1.4rem;
  text-align: center;
}

.click-body-placeholder {
  position: fixed;
  z-index: 80;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.click-body-placeholder.active {
  pointer-events: initial;
}

.section--404 {
  text-align: center;
}
.section--404 h1 {
  font-size: 5rem;
  font-family: "Quicksand", sans-serif;
}

.base-section-text, .section-footer__text {
  line-height: 1.5;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
  color: #000000;
}

body {
  min-height: 100%;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

.section-footer {
  min-height: 10vh;
  display: flex;
  position: relative;
  flex-direction: row;
}
.section-footer .section-footer-bg {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid black;
}
.section-footer__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100rem;
  max-width: 80rem;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .section-footer__content {
    padding-bottom: 0;
  }
}
.section-footer__text {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}/*# sourceMappingURL=style.css.map */