$primary: #112e4a;
$secondary: #5cd38c;
$primaryLight: #1e5080;
$secondaryDark: #429664;
$textColor: #112e4a;

$blueDark: #112e4a;
$green: #5cd38c;

$greyDark: #272727;
$grey: #555454;

$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

$fontSecondary: 'Poppins', sans-serif;

$basicPadding: 1rem 0;
$paddingTop: 5rem;