html {
  font-size: 62.5%;

  @include media(1500px) {
    font-size: 58%;
  }

  @include media(1230px) {
    font-size: 52%;
  }
}

main {
  padding: 2rem 0;
}

$containerMaxWidth: 114;
.container {
  width: 100%;
  max-width: #{$containerMaxWidth + 5}rem;
  margin: 0 auto;
  padding: 0 2.5rem;

  @media screen and (max-width: 1000px) {
    padding: 0 1.5rem;
  }
}

.container--narrow {
  max-width: #{$containerMaxWidth - 10}rem;
}

.container--wider {
  max-width: #{$containerMaxWidth + 10}rem;
}

section,
.section {
  position: relative;
  padding: $basicPadding;
}

.section--page-header {
  padding-bottom: 0;
}

.section--content {
  padding: 0;
}

.section--search-page-header {
  h1 {
    font-size: 4rem;
    text-align: center;

    strong {
      color: $secondary;
    }
  }
}

.anchnor {
  position: absolute;
  top: -#{$paddingTop};
}

.square {
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.text-center {
  text-align: center;
}

$marginBetweenContent: 3rem 0;
p,
ul,
ol {
  font-size: 1.4rem;
  line-height: 1.3;
  color: $textColor;
  font-weight: $fontLight;
  margin: $marginBetweenContent;
}

a {
  position: relative;
  color: $secondary;
  text-decoration: underline;
  @include transition;

  &:hover {
    text-decoration: none;
    color: $secondaryDark;
  }
}

ul {
  list-style-type: none;
  margin-left: 3rem;
  margin-right: 3rem;

  li {
    position: relative;
    padding-left: 2.4rem;
    margin-bottom: 0.8rem;

    // &:before {
    //   position: absolute;
    //   content: "";
    //   width: 6px;
    //   height: 6px;
    //   left: 0;
    //   top: 8px;
    //   background: $primary;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   @include transition(0.3s);
    // }
  }
}

ol {
  list-style-type: none !important;
  counter-reset: my-awesome-counter;
  padding: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}

ol li {
  position: relative;
  counter-increment: my-awesome-counter;
  padding-left: 30px;
}

ol li::before {
  position: absolute;
  content: counter(my-awesome-counter) ". ";
  color: $green;
  font-weight: bold;
  left: 0;
}

ol[style="list-style-type: lower-alpha;"] li:before {
  content: counter(my-awesome-counter, lower-alpha) ". ";
}

ol[style="list-style-type: upper-alpha;"] li:before {
  content: counter(my-awesome-counter, upper-alpha) ". ";
}

ol[style="list-style-type: lower-greek;"] li:before {
  content: counter(my-awesome-counter, lower-greek) ". ";
}

ol[style="list-style-type: lower-roman;"] li:before {
  content: counter(my-awesome-counter, lower-roman) ". ";
}

ol[style="list-style-type: upper-roman;"] li:before {
  content: counter(my-awesome-counter, upper-roman) ". ";
}

h1 {
  font-size: 4.1rem;
  color: $primary;
  line-height: 1.1;
  margin: 4rem 0;

  @include media(1000px) {
    font-size: 5rem;
  }

  @include media(600px) {
    font-size: 4rem;
    text-align: center;
  }
}

h2 {
  font-size: 3.8rem;
  color: $primary;
  line-height: 1.1;
  margin: 3.5rem 0;

  @include media(1000px) {
    font-size: 4rem;
  }

  @include media(600px) {
    font-size: 3rem;
    text-align: center;
  }
}

.no-posts-text {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  color: $primary;
  line-height: 1.1;
  margin: 3rem 0;

  @include media(1000px) {
    font-size: 2rem;
  }

  @include media(600px) {
    font-size: 1.7rem;
    text-align: center;
  }
}

h4 {
  font-size: 2.2rem;
  color: $primary;
  line-height: 1.1;
  margin: 3rem 0;

  @include media(1000px) {
    font-size: 1.8rem;
  }

  @include media(600px) {
    font-size: 1.5rem;
    text-align: center;
  }
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

#cookie-bar {
  color: white;
  background: $primary !important;
  @include boxshadow(2px 2px 40px rgba(0, 0, 0, 0.2) !important);
  border: 1px solid #222;

  #cookie-bar-button {
    background: $secondary;
  }
}

.wp-block-table {
  margin: $marginBetweenContent;
}

table {
  border: 1px solid $primary;
  width: 100%;

  tr {
    @include transition;

    &:hover {
      background: rgba($primary, 0.2);
    }

    &:last-of-type,
    &:first-of-type {
      background: $primary;

      td {
        color: #ffffff;
        font-weight: $fontBold;
      }
    }

    td {
      font-size: 1.4rem;
      line-height: 1.4;
      padding: 1rem;
    }
  }
}

.default img.aligncenter {
  margin: 0 auto;
  display: block;
}

.default img.alignright {
  float: right;
}

.default img.alignleft {
  float: left;
}

figure {
  margin: $marginBetweenContent;
}

figure.wp-block-image {
  margin: $marginBetweenContent;
  text-align: left;

  figcaption {
    text-align: left;
  }
}

.wp-block-image:before,
.wp-block-image:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.wp-block-image:after {
  clear: both;
}

/* For IE 6/7 only */

.wp-block-image {
  *zoom: 1;
}

.wp-block-image figcaption {
  font-size: 1.4rem;
  text-align: center;
}

.click-body-placeholder {
  position: fixed;
  z-index: 80;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &.active {
    pointer-events: initial;
  }
}

.section--404 {
  text-align: center;

  h1 {
    font-size: 5rem;
  }
}
