.header {
  box-shadow: 0 -8px 7px 5px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0;
  &__logo {
    text-align: center;
    a {
      display: inline-block;
      position: relative;
      width: 12rem;
      @media (min-width: 1200px) {
        width: 13rem;
      }
      @media (min-width: 1550px) {
        width: 15rem;
      }
    }
    img {
      width: 12rem;
      @media (min-width: 1200px) {
        width: 13rem;
      }
      @media (min-width: 1550px) {
        width: 15rem;
      }
    }
  }
  &__nav {
    @media only screen and (max-width: 1199px) {
      display: none;
    }
  }

  .btn2 {
    @include btn(25px, 10px);

    &.open {
      z-index: 1001;
      .icon {
        transition-duration: 0.5s;
        background: transparent;

        &:before {
          transform: rotateZ(45deg) scaleX(1.25) translate(8px, 7px);
        }

        &:after {
          transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
        }
      }
    }

    .icon {
      @include icon(5px, 30px);

      &:before {
        @include icon-before(5px, 30px, -15px);
      }

      &:after {
        @include icon-after(5px, 30px, 15px);
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.header-mobile-nav {
  top: 0;
  position: fixed;
  left: 0;
  transition: 0.5s;
  height: 100vh;
  width: 0;
  overflow: hidden;

  &.open {
    display: block;

    z-index: 1000;
    width: 100%;
    background-color: rgba(90, 103, 87, 0.7);
    transition: 0.5s;
  }

  @media only screen and (min-width: 1200px) {
    display: none !important;
  }

  @media only screen and (min-width: 1200px) {
    display: none !important;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;

    @media (min-width: 1200px) {
      padding: 2.5rem 0;
    }
    @media (min-width: 1550px) {
      padding: 2.5rem 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    img {
      display: block;
      width: 12rem;

      @media (min-width: 1200px) {
        width: 13rem;
      }
      @media (min-width: 1550px) {
        width: 21.4rem;
      }
    }
  }
}

.navigation {
  & > ul {
    list-style: none;
    margin: 0;
    padding: 8rem 0 8rem 0;

    @media only screen and (min-width: 768px) {
      padding: 4.5rem 0 5rem 0;
    }
    @media only screen and (min-width: 1200px) {
      display: flex;
      column-gap: 3rem;
      padding: 0;
    }
    @media only screen and (min-width: 1550px) {
      column-gap: 4rem;
    }

    & > li {
      list-style: none;
      position: relative;
      margin: 0;
      padding: 0;

      &.has-childs {
        & > a {
          position: relative;
          padding-right: 2rem;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            border-top: 0.6rem solid $textColorPrimary;
            border-left: 0.6rem solid transparent;
            border-right: 0.6rem solid transparent;
          }
        }

        &:hover {
          ul {
            display: block;
          }
        }
      }

      & > ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0 0 0 2.5rem;

        @media only screen and (min-width: 1200px) {
          display: none;
          background: #fff;
          padding: 1rem 0 1.2rem 0;
        }
        @media only screen and (min-width: 1200px) {
          position: absolute;
          top: 100%;
          left: -3rem;
          min-width: calc(100% + 6rem);
        }

        & > li {
          margin: 0;
          padding: 0;

          & > a {
            @include link-reseter;

            position: relative;
            display: block;
            padding: 1.3rem 0;
            transition: $defaultTransitions;
            font-size: 1.6rem;
            font-weight: $fontRegular;
            font-family: $fontPrimary;
            color: $textColorPrimary;
            white-space: nowrap;

            span {
              position: relative;
            }

            &:hover {
              color: $hoverColor;
            }
          }
        }
      }

      & > a {
        @include link-reseter;

        display: block;
        padding: 1rem 0;
        margin: 0 1rem 0 1rem;
        transition: $defaultTransitions;
        font-size: 3.2rem;
        font-weight: $fontRegular;
        font-family: $fontPrimary;
        color: $textColorPrimary;
        border-color: $hoverColor;
        white-space: nowrap;
        text-decoration: none;
        text-align: center;
        line-height: 1.8;

        @media only screen and (min-width: 1200px) {
          font-size: 1.9rem;
        }
        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
  .btn-border {
    background: $primaryLight;

    &:hover {
      background: $hoverColor;
      transition: $defaultTransitions;
      text-decoration: none;
    }
  }
}
