.grid {
  display: grid;
  margin: 0 auto;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  margin: 0 auto;
  &__image {
    overflow: hidden;
  }

  &__image > img:hover {
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
  }

  &__title {
    > a {
      @include link-reseter;

      text-decoration: none;
      position: relative;
      display: block;
      padding: 1.5rem 0 0;
      transition: $defaultTransitions;
      font-size: 2.3rem;
      font-weight: $fontRegular;
      font-family: $fontPrimary;
      color: $textColorPrimary;
      white-space: nowrap;
      &:hover {
        color: $hoverColor;
      }
    }
  }
  &__price {
    > a {
      @include link-reseter;

      text-decoration: none;
      position: relative;
      display: block;
      padding: 1rem 0;
      transition: $defaultTransitions;
      font-size: 2.3rem;
      font-weight: $fontBold;
      font-family: $fontPrimary;
      color: $textColorPrimary;
      white-space: nowrap;
      &:hover {
        color: $hoverColorDark;
      }
    }
  }
  .button-cart {
    @include link-reseter;

    border: none;
    color: $textColorSecondary;
    background-color: $secondaryDark;
    padding: 1.7rem;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
  }
  .button-cart:hover {
    opacity: 0.6;
  }
}

// category.phtml styles

.category-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .select {
    width: 100%;
    appearance: auto;
    outline: 0;
    box-shadow: none;
    border: 2px solid $secondaryDark;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    font-weight: $fontRegular;
    font-family: $fontPrimary;
    color: $textColorPrimary;
    padding: 1rem 0.5em;
    margin: 1rem 0;
    @media only screen and (min-width: 1200px) {
      width: 40%;
    }
  }
}

// product.phtml styles

.product {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.button-cart {
  @include link-reseter;

  border: none;
  color: $textColorSecondary;
  background-color: $secondaryDark;
  padding: 1.7rem;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.button-cart:hover {
  opacity: 0.6;
}

.product-image {
  @media only screen and (min-width: 1200px) {
    width: 60%;
  }
}

.product-details {
  @media only screen and (min-width: 1200px) {
    margin: 0 0 0 3rem;
    width: 40%;
  }

  &__title {
    @include link-reseter;

    text-decoration: none;
    position: relative;
    display: block;
    padding: 1.5rem 0 0;
    transition: $defaultTransitions;
    font-size: 2.3rem;
    font-weight: $fontRegular;
    font-family: $fontPrimary;
    color: $textColorPrimary;
    white-space: nowrap;
    &:hover {
      color: $hoverColor;
    }
  }
  &__price {
    @include link-reseter;

    text-decoration: none;
    position: relative;
    display: block;
    padding: 1rem 0;
    transition: $defaultTransitions;
    font-size: 2.3rem;
    font-weight: $fontBold;
    font-family: $fontPrimary;
    color: $textColorPrimary;
    white-space: nowrap;
    &:hover {
      color: $hoverColorDark;
    }
  }
  &__shortdesc > p {
    font-size: 1.8rem;
    font-family: $fontPrimary;
  }

  &__longdesc > p {
    font-size: 1.8rem;
    font-family: $fontPrimary;
  }
}

// cart.phtml styles

.cart {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &__items {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1200px) {
      margin: 0 10rem 0 0;
      width: 60%;
    }
  }

  &__item {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-family: $fontPrimary;
    font-weight: $fontRegular;
    margin: 0 0 2.5rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid black;

    &--image {
      width: 30%;
    }

    &--delete {
      cursor: pointer;

      &:hover {
        color: $hoverColorRed;
      }
    }
  }
}
.summary {
  background-color: rgba(156, 168, 153, 0.97);
  @media only screen and (min-width: 1200px) {
    width: 40%;
    height: 100%;
  }
  &__title {
    padding: 0 2rem;
  }

  &__count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &--total {
      font-size: 2rem;
      font-family: $fontPrimary;
      font-weight: $fontRegular;
    }
    &--price {
      font-size: 2rem;
      font-family: $fontPrimary;
      font-weight: $fontBold;
    }
  }
}
.button-next {
  @include link-reseter;

  border: none;
  color: $textColorSecondary;
  background-color: $greyDark;
  padding: 1.7rem;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.button-next:hover {
  opacity: 0.7;
}

// checkout.phtml styles

.checkout {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (min-width: 1200px) {
      margin: 0 10rem 0 0;
      width: 60%;
    }
  }
  &__item {
    flex-direction: column;
    display: flex;
    font-size: 2rem;
    font-family: $fontPrimary;
    font-weight: $fontRegular;
    margin: 0 0 2.5rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid black;
  }
  .form {
    width: 100%;

    fieldset {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: none;
      padding: 0;

      span {
        margin: 0 0 1rem 0;
      }

      input {
        margin: 1rem 0;
        transition: $defaultTransitions;
        border: 1px solid black;
      }
      input:focus {
        border-color: rgba(156, 168, 153, 0.97);
      }
    }
  }
}

// signin.phtml styles

.sign {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-family: $fontPrimary;
  font-weight: $fontRegular;
  margin: 0 0 2.5rem 0;
  padding: 2rem 0;
  @media only screen and (min-width: 1200px) {
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;

    input {
      margin: 1rem 0;
      transition: $defaultTransitions;
      border: 1px solid black;
    }
    input:focus {
      border-color: rgba(156, 168, 153, 0.97);
    }
    .button-next {
      margin: 0 0 1rem 0;
    }
  }
}

// client.phtml styles

.client {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }
  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (min-width: 1200px) {
      margin: 0 10rem 0 0;
      width: 60%;
    }
  }

  &__item {
    flex-direction: column;
    display: flex;
    font-size: 2rem;
    font-family: $fontPrimary;
    font-weight: $fontRegular;
    margin: 0 0 2.5rem 0;
    padding: 2rem 0;
  }

  .form {
    width: 100%;

    fieldset {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: none;
      padding: 0;
      font-size: 2rem;

      span {
        margin: 0 0 1rem 0;
      }

      input {
        margin: 1rem 0;
        transition: $defaultTransitions;
        border: 1px solid black;
      }
      input:focus {
        border-color: rgba(156, 168, 153, 0.97);
      }
    }
  }
  .orders {
    border: 1px solid black;
    .order {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      font-family: $fontPrimary;
      font-weight: $fontRegular;
      padding: 2rem 1rem;
      transition: 0.2s;
      &:hover {
        background-color: $hoverColorLight;
      }
    }
  }
}

.message {
  text-align: center;
  background-color: $secondary;
  color: $textColorSecondary;
  margin: 0;
  font-family: Quicksand;
  font-size: 1.5rem;
  padding: 1rem 0;
}
