.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.hidden {
  display: none !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.text-bold {
  font-weight: bold !important;
}

.m-0 {
  margin: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.m-auto {
  margin: 0 auto !important;
}

.space-nowrap {
  white-space: nowrap !important;
}

.bg-creame {
  background: #edcea9 !important;
}

.bg-secondary {
  background: $COLOR_SECONDARY !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.padding-quote {
  padding: 3rem 3rem 3rem 6rem;
}

.f-italic-initial {
  font-style: italic;
  font-weight: initial;
}

.c-secondary {
  color: #edcea9 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}